In [56]:
# Rori Cooper - Homework Unit 4 Pandas (PyCitySchools)

# Dependencies
import pandas as pd
import numpy as np

# Load resource files
school_resource_data = "Resources/schools_complete.csv"
student_resource_data = "Resources/students_complete.csv"

In [57]:
# Read school_data files and set data frames
school_data = pd.read_csv(school_resource_data)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [58]:
# Read student_data files and set data frames
student_data = pd.read_csv(student_resource_data)
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [59]:
# Merge school_ and student_ data sets
school_data_merged = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_merged.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [61]:
# Calculate the total number of schools
school_count = school_data_merged["school_name"].nunique()
print(school_count)

15

In [62]:
# Calculate the total number of students
student_count = school_data_merged["Student ID"].nunique()
print(student_count)

39170

In [63]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
print(total_budget)

24649428

In [64]:
# Calculate the average math score
avg_math_score = student_data["math_score"].mean()
print(avg_math_score)

78.98537145774827

In [65]:
# Calculate the average reading score
avg_reading_score = student_data["reading_score"].mean()
print(avg_reading_score)

81.87784018381414

In [66]:
# Calculate the percentage of students with a passing math score (70 or greater)
students_passing_math = school_data_merged[school_data_merged["math_score"] >= 70].count()["school_name"]
percent_passing_math = (students_passing_math / student_count) * 100
print(percent_passing_math)

74.9808526933878

In [67]:
# Calculate the percentage of students with a passing reading score (70 or greater)
students_passing_reading = school_data_merged[school_data_merged["reading_score"] >= 70].count()["school_name"]
percent_passing_reading = (students_passing_reading / student_count) * 100
print(percent_passing_reading)

85.80546336482001

In [44]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
avg_overall_score = (avg_math_score + avg_reading_score)/2
print(avg_overall_score)

80.43160582078121

In [68]:
# Create a District Summary dataframe to hold the above results
# Optional: give the displayed data cleaner formatting
District_Summary = pd.DataFrame({"Total Schools":[school_count], "Total Students":[student_count],
                                "Total Budget":[total_budget], "Average Math Score":[avg_math_score],
                                 "Average Reading Score":[avg_reading_score], "% Passing Math":percent_passing_math,
                                 "% Passing Reading":percent_passing_reading, "Overall Average Score": avg_overall_score})
District_Summary = District_Summary[["Total Schools", "Total Students", "Total Budget", "Average Math Score",
                                 "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Average Score"]]
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Average Score
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606