In [188]:
# Rori Cooper - Homework Unit 4 Pandas (PyCitySchools)

# Dependencies
import pandas as pd
import numpy as np

# Load resource files
school_resource_data = "Resources/schools_complete.csv"
student_resource_data = "Resources/students_complete.csv"

In [189]:
# Read school_data files and set data frames
school_data = pd.read_csv(school_resource_data)
schools = school_data.rename(columns={'school_name' : 'School Name','type' : ' School Type','size' : 'Size','budget' : 'Budget'})
schools.head()

   School ID            School Name  School Type  Size   Budget
0          0      Huang High School     District  2917  1910635
1          1   Figueroa High School     District  2949  1884411
2          2    Shelton High School      Charter  1761  1056600
3          3  Hernandez High School     District  4635  3022020
4          4    Griffin High School      Charter  1468   917500

In [190]:
# Read student_data files and set data frames
student_data = pd.read_csv(student_resource_data)
students = student_data.rename(columns={'student_name' : 'Student Name','gender': 'Gender', 'grade': 'Grade', 'school_name':'School Name', 'reading_score':'Reading Score', 'math_score':'Math Score'})
students.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [192]:
# Merge school_ and student_ data sets
school_data_merged = pd.merge(students, schools, how="left", on=["School Name", "School Name"])
school_data_merged.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,School Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [193]:
## Part I - District Summary

In [194]:
# Calculate the total number of schools
school_count = school_data_merged["School Name"].nunique()
print(school_count)

15

In [195]:
# Calculate the total number of students
student_count = school_data_merged["Student ID"].nunique()
print(student_count)

39170

In [196]:
# Calculate the total budget
total_budget = schools["Budget"].sum()
print(total_budget)

24649428

In [197]:
# Calculate the average math score
avg_math_score = students["Math Score"].mean()
print(avg_math_score)

78.98537145774827

In [198]:
# Calculate the average reading score
avg_reading_score = students["Reading Score"].mean()
print(avg_reading_score)

81.87784018381414

In [199]:
# Calculate the percentage of students with a passing math score (70 or greater)
students_passing_math = school_data_merged[school_data_merged["Math Score"] >= 70].count()["School Name"]
percent_passing_math = (students_passing_math / student_count) * 100
print(percent_passing_math)

74.9808526933878

In [200]:
# Calculate the percentage of students with a passing reading score (70 or greater)
students_passing_reading = school_data_merged[school_data_merged["Reading Score"] >= 70].count()["School Name"]
percent_passing_reading = (students_passing_reading / student_count) * 100
print(percent_passing_reading)

85.80546336482001

In [201]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
avg_overall_score = (avg_math_score + avg_reading_score)/2
print(avg_overall_score)

80.43160582078121

In [202]:
# Create a District Summary dataframe to hold the above results
# Optional: give the displayed data cleaner formatting
District_Summary = pd.DataFrame({"Total Schools":[school_count], "Total Students":[student_count],
                                "Total Budget":[total_budget], "Average Math Score":[avg_math_score],
                                 "Average Reading Score":[avg_reading_score], "% Passing Math":percent_passing_math,
                                 "% Passing Reading":percent_passing_reading, "Overall Average Score": avg_overall_score})
District_Summary = District_Summary[["Total Schools", "Total Students", "Total Budget", "Average Math Score",
                                 "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Average Score"]]
District_Summary

## Part I - District Summary - Solution

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Average Score
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [203]:
## Part II - School Summary

school_data_merged.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,School Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [207]:
# Determine the school type
school_types = school_data.set_index(["school_name"])["type"]
print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [208]:
# Calculate total students per school
per_school_counts = school_data.set_index(["school_name"])["size"]
print(per_school_counts)

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [209]:
# Calculate total budget per school
school_budgets = school_data.set_index(["school_name"])["budget"]
print(school_budgets)

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [210]:
# Calculate per student budget
per_student_budget = school_budgets/ per_school_counts
print(per_student_budget)

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [212]:
# Average math score per sch
avg_math_per_school = school_data_merged.groupby(["School Name"]).mean()["Math Score"]
print(avg_math_per_school)

School Name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: Math Score, dtype: float64

In [214]:
# Average reading score per school
avg_reading_per_school = school_data_merged.groupby(["School Name"]).mean()["Reading Score"]
print(avg_reading_per_school)

School Name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: Reading Score, dtype: float64

In [216]:
# Count of students passing math
students_passing_math =  school_data_merged[school_data_merged["Math Score"] >= 70].groupby("School Name").count()["Student ID"]
print(students_passing_math)

School Name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [218]:
# Count of students passing reading
students_passing_reading =  school_data_merged[school_data_merged["Reading Score"] >= 70].groupby("School Name").count()["Student ID"]
print(students_passing_reading)

School Name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [219]:
# Percent of students passing math
percent_passing_math = students_passing_math / per_school_counts * 100
print(percent_passing_math)

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [252]:
# Percent of students passing reading
percent_passing_reading = students_passing_reading / per_school_counts * 100
print(percent_passing_reading)

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [253]:
# Calculate average overall score per school
avg_overall_score_per_school = (percent_passing_math + percent_passing_reading) / 2
print(avg_overall_score_per_school)

Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [254]:
# Summarize schools in table

School_Summary = pd.DataFrame({"School Type": school_types, "Total Students": per_school_counts, "Total School Budget": school_budgets, "Per Student Budget": per_student_budget,
                                "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,
                                 "% Passing Math": percent_passing_math, "% Passing Reading": percent_passing_reading,
                                 "Overall Passing Rate":avg_overall_score_per_school})  
print(School_Summary)

                      School Type  Total Students  Total School Budget  \
Bailey High School       District            4976              3124928
Cabrera High School       Charter            1858              1081356
Figueroa High School     District            2949              1884411
Ford High School         District            2739              1763916
Griffin High School       Charter            1468               917500
Hernandez High School    District            4635              3022020
Holden High School        Charter             427               248087
Huang High School        District            2917              1910635
Johnson High School      District            4761              3094650
Pena High School          Charter             962               585858
Rodriguez High School    District            3999              2547363
Shelton High School       Charter            1761              1056600
Thomas High School        Charter            1635              1043130
Wilson High School        Charter            2283              1319574
Wright High School        Charter            1800              1049400

                       Per Student Budget  Average Math Score  \
Bailey High School                  628.0           78.985371
Cabrera High School                 582.0           78.985371
Figueroa High School                639.0           78.985371
Ford High School                    644.0           78.985371
Griffin High School                 625.0           78.985371
Hernandez High School               652.0           78.985371
Holden High School                  581.0           78.985371
Huang High School                   655.0           78.985371
Johnson High School                 650.0           78.985371
Pena High School                    609.0           78.985371
Rodriguez High School               637.0           78.985371
Shelton High School                 600.0           78.985371
Thomas High School                  638.0           78.985371
Wilson High School                  578.0           78.985371
Wright High School                  583.0           78.985371

                       Average Reading Score  % Passing Math  \
Bailey High School                  81.87784       66.680064
Cabrera High School                 81.87784       94.133477
Figueroa High School                81.87784       65.988471
Ford High School                    81.87784       68.309602
Griffin High School                 81.87784       93.392371
Hernandez High School               81.87784       66.752967
Holden High School                  81.87784       92.505855
Huang High School                   81.87784       65.683922
Johnson High School                 81.87784       66.057551
Pena High School                    81.87784       94.594595
Rodriguez High School               81.87784       66.366592
Shelton High School                 81.87784       93.867121
Thomas High School                  81.87784       93.272171
Wilson High School                  81.87784       93.867718
Wright High School                  81.87784       93.333333

                       % Passing Reading  Overall Passing Rate
Bailey High School             81.933280             74.306672
Cabrera High School            97.039828             95.586652
Figueroa High School           80.739234             73.363852
Ford High School               79.299014             73.804308
Griffin High School            97.138965             95.265668
Hernandez High School          80.862999             73.807983
Holden High School             96.252927             94.379391
Huang High School              81.316421             73.500171
Johnson High School            81.222432             73.639992
Pena High School               95.945946             95.270270
Rodriguez High School          80.220055             73.293323
Shelton High School            95.854628             94.860875
Thomas High School             97.308869             95.290520
Wilson High School             96.539641             95.203679
Wright High School             96.611111             94.972222

In [255]:
School_Summary = School_Summary[["School Type","Total Students","Total School Budget","Per Student Budget",
                                "Average Math Score","Average Reading Score","% Passing Math","% Passing Reading",
                                 "Overall Passing Rate"]]

In [258]:
School_Summary.head(15)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,78.985371,81.87784,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,78.985371,81.87784,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,78.985371,81.87784,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,78.985371,81.87784,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,78.985371,81.87784,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,78.985371,81.87784,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,78.985371,81.87784,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,78.985371,81.87784,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,78.985371,81.87784,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,78.985371,81.87784,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,78.985371,81.87784,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,78.985371,81.87784,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,78.985371,81.87784,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,78.985371,81.87784,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,78.985371,81.87784,93.333333,96.611111,94.972222