In [552]:
# Rori Cooper - Homework Unit 4 Pandas (PyCitySchools)

# Dependencies
import pandas as pd
import numpy as np

# Load resource files
school_resource_data = "Resources/schools_complete.csv"
student_resource_data = "Resources/students_complete.csv"

In [553]:
# Read school_data files and set data frames
school_data = pd.read_csv(school_resource_data)
#schools = school_data.rename(columns={'school_name' : 'School Name','type' : 'School Type','size' : 'Size','budget' : 'Budget'})
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [554]:
# Read student_data files and set data frames
student_data = pd.read_csv(student_resource_data)
#students = student_data.rename(columns={'student_name' : 'Student Name','gender': 'Gender', 'grade': 'Grade', 'school_name':'School Name', 'reading_score':'Reading Score', 'math_score':'Math Score'})
#students.head()

In [555]:
# Merge school_ and student_ data sets
school_data_merged = pd.merge(school_data, student_data, how="left", on=["school_name"])
#school_data_merged.head()

In [556]:
## Part I - District Summary

In [557]:
# Calculate the total number of schools
school_count = school_data_merged["school_name"].nunique()
#print(school_count)

In [558]:
# Calculate the total number of students
student_count = school_data_merged["Student ID"].nunique()
#print(student_count)

In [559]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
#print(total_budget)

In [560]:
# Calculate the average math score
avg_math_score = student_data["math_score"].mean()
#print(avg_math_score)

In [561]:
# Calculate the average reading score
avg_reading_score = student_data["reading_score"].mean()
#print(avg_reading_score)

In [562]:
# Calculate the percentage of students with a passing math score (70 or greater)
students_passing_math = school_data_merged[school_data_merged["math_score"] >= 70].count()["school_name"]
percent_passing_math = (students_passing_math / student_count) * 100
#print(percent_passing_math)

In [563]:
# Calculate the percentage of students with a passing reading score (70 or greater)
students_passing_reading = school_data_merged[school_data_merged["reading_score"] >= 70].count()["school_name"]
percent_passing_reading = (students_passing_reading / student_count) * 100
#print(percent_passing_reading)

In [564]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
avg_overall_score = (avg_math_score + avg_reading_score)/2
#print(avg_overall_score)

In [565]:
# Create a District Summary dataframe to hold the above results
# Optional: give the displayed data cleaner formatting
District_Summary = pd.DataFrame({"Total Schools"               :[school_count], 
                                 "Total Students"              :[student_count],
                                 "Total Budget"                :[total_budget], 
                                 "Average Math Score"          :[avg_math_score],
                                 "Average Reading Score"       :[avg_reading_score], 
                                 "% Passing Math"              :percent_passing_math,
                                 "% Passing Reading"           :percent_passing_reading, 
                                 "Overall Average Score"       :avg_overall_score})
District_Summary = District_Summary[["Total Schools", "Total Students", "Total Budget", "Average Math Score",
                                 "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Average Score"]]
District_Summary

## Part I - District Summary - Solution

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Average Score
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [566]:
## Part II - School Summary

#school_data_merged.head()

In [567]:
# Determine the school type
school_types = school_data.set_index(["school_name"])["type"]
#print(school_types)

In [568]:
# Calculate total students per school
per_school_counts = school_data.set_index(["school_name"])["size"]
#print(per_school_counts)

In [569]:
# Calculate total budget per school
school_budgets = school_data.set_index(["school_name"])["budget"]
#print(school_budgets)

In [570]:
# Calculate per student budget
per_student_budget = school_budgets/ per_school_counts
#print(per_student_budget)

In [571]:
# Average math score per school
#avg_math_score = complete_data["Math_Score"].mean()
#avg_reading_score = complete_data["Reading_Score"].mean()
avg_math_per_school = school_data_merged.groupby(["school_name"]).mean()["math_score"]
#print(avg_math_per_school)

In [572]:
# Average reading score per school
avg_reading_per_school = school_data_merged.groupby(["school_name"]).mean()["reading_score"]
#print(avg_reading_per_school)

In [573]:
# Count of students passing math
students_passing_math =  school_data_merged[school_data_merged["math_score"] >= 70].groupby("school_name").count()["Student ID"]
#print(students_passing_math)

In [574]:
# Count of students passing reading
students_passing_reading =  school_data_merged[school_data_merged["reading_score"] >= 70].groupby("school_name").count()["Student ID"]
#print(students_passing_reading)

In [575]:
# Percent of students passing math
percent_passing_math = students_passing_math / per_school_counts * 100
#print(percent_passing_math)

In [576]:
# Percent of students passing reading
percent_passing_reading = students_passing_reading / per_school_counts * 100
#print(percent_passing_reading)

In [577]:
# Calculate average overall score per school
avg_overall_score_per_school = (percent_passing_math + percent_passing_reading) / 2
#print(avg_overall_score_per_school)

In [578]:
# Summarize schools in table

School_Summary = pd.DataFrame({"School Type"             : school_types, 
                               "Total Students"          : per_school_counts, 
                               "Total School Budget"     : school_budgets, 
                               "Per Student Budget"      : per_student_budget,
                               "Average Math Score"      : avg_math_per_school, 
                               "Average Reading Score"   : avg_reading_per_school,
                               "% Passing Math"          : percent_passing_math, 
                               "% Passing Reading"       : percent_passing_reading,
                               "Overall Passing Rate"    : avg_overall_score_per_school})  
#print(School_Summary)

In [579]:
School_Summary = School_Summary[["School Type","Total Students","Total School Budget","Per Student Budget",
                                "Average Math Score","Average Reading Score","% Passing Math","% Passing Reading",
                                 "Overall Passing Rate"]]

In [580]:
School_Summary.head(15)

## Part II - School Summary - Solution

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [581]:
## Part III - Top Performing Schools (by Overall Passing Rate)

Top_Schools = School_Summary.sort_values("Overall Passing Rate", ascending=False)
Top_Schools.head(5)

# Part III - Top Performing Schools - Solution

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [582]:
## Part IV - Bottom Performing Schools (by Overall Passing Rate)

#School_Summary.head()
Bottom_Schools = School_Summary.sort_values("Overall Passing Rate")
Bottom_Schools.head(5)

# Part IV - Bottom Performing Schools - Solution

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [583]:
## Part V - Math Scores by Grade

# Summarize math scores in table
ninth_grd_score =  school_data_merged[school_data_merged["grade"] == "9th"].groupby("school_name").mean()["math_score"]
tenth_grd_score =  school_data_merged[school_data_merged["grade"] == "10th"].groupby("school_name").mean()["math_score"]
eleventh_grd_score =  school_data_merged[school_data_merged["grade"] == "11th"].groupby("school_name").mean()["math_score"]
twelfth_grd_score =  school_data_merged[school_data_merged["grade"] == "12th"].groupby("school_name").mean()["math_score"]

In [584]:
Math_Summary = pd.DataFrame({"9th Grade"             : ninth_grd_score, 
                             "10th Grade"            : tenth_grd_score, 
                             "11th Grade"            : eleventh_grd_score,
                             "12th Grade"            : twelfth_grd_score})

In [585]:
Math_Summary = Math_Summary[["9th Grade","10th Grade","11th Grade","12th Grade"]]
Math_Summary.head(15)

# Part V - Math Scores by Grade - Solution

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

In [586]:
## Part VI - Reading Scores by Grade

# Summarize reading scores in table
ninth_grd_score =  school_data_merged[school_data_merged["grade"] == "9th"].groupby("school_name").mean()["reading_score"]
tenth_grd_score =  school_data_merged[school_data_merged["grade"] == "10th"].groupby("school_name").mean()["reading_score"]
eleventh_grd_score =  school_data_merged[school_data_merged["grade"] == "11th"].groupby("school_name").mean()["reading_score"]
twelfth_grd_score =  school_data_merged[school_data_merged["grade"] == "12th"].groupby("school_name").mean()["reading_score"]

In [587]:
Reading_Summary = pd.DataFrame({"9th Grade"             : ninth_grd_score, 
                                "10th Grade"            : tenth_grd_score, 
                                "11th Grade"            : eleventh_grd_score,
                                "12th Grade"            : twelfth_grd_score})

In [588]:
Reading_Summary = Reading_Summary[["9th Grade","10th Grade","11th Grade","12th Grade"]]
Reading_Summary.head(15)

# Part VI - Reading Scores by Grade - Solution

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [589]:
## Part VII - Scores by School Spending
per_student_budget
# Summarize reading scores in table

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [590]:
# Set bins and ranges
spend_bins = [0, 585, 615, 645, 675]
spend_ranges = ["<$585K","$585-615K","$615-645K","$645-675K"]

In [591]:
pd.cut(School_Summary["Per Student Budget"], spend_bins, labels=spend_ranges).head()

Bailey High School      $615-645K
Cabrera High School        <$585K
Figueroa High School    $615-645K
Ford High School        $615-645K
Griffin High School     $615-645K
Name: Per Student Budget, dtype: category
Categories (4, object): [<$585K < $585-615K < $615-645K < $645-675K]

In [592]:
School_Summary.head(100)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [597]:
# Categorize spending based on spending bins

School_Summary["Spending Ranges"] = pd.cut(per_student_budget, spend_bins, labels=spend_ranges)

spending_math_score = School_Summary.groupby(["Spending Ranges"]).mean()['Average Math Score']
spending_reading_score = School_Summary.groupby(["Spending Ranges"]).mean()['Average Reading Score']
spending_passing_math = School_Summary.groupby(["Spending Ranges"]).mean()['% Passing Math']
spending_passing_reading = School_Summary.groupby(["Spending Ranges"]).mean()['% Passing Reading']
overall_passing_rate = (spending_math_score + spending_reading_score) / 2

School_Summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Spending Ranges
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645K
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585K
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645K
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645K
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645K